<!DOCTYPE html>
<html lang="en">
    <title> About Us @ <%= locals.company.name %></title>
<%- include('header.html') %>
<body>
<section class="about">
    <div class="row justify-content-center aboutHeader ">
        <div class="col-10">
    <img class="w-100 h-100 aboutHeading" src="images/about/<%= locals.parentDomain ? "cderaservices.png" : "chidaveastro.png" %>" alt="HeadingImage">
    </div></div>
    <div class="description">
    <div class="row justify-content-center ">
        <div class="col-lg-8 col-10">
            <h1 class="aboutHeading">ABOUT US </h1>
            <hr>
            <p>
                We draw from a family legacy of 50 years trading in hoses, <%= locals.company.name %> Ltd is a subsidiary 
                of Mahose Limited founded in 1970 which has been supplying quality hoses for more than
                five decades. <%= locals.company.name %> was established in <%= locals.company.yearIncorporated %> and is one of the fastest growing 
                companies in Nigeria. Our solid foundation sets us apart in the industry, coupled with a 
                relentless effort to always exceed our client's expectations.
            </p>
            <p>
                At <%= locals.company.name %>, we provide high quality products and services to all region of the country
                at the best possible value as at when and where they are needed. 
            </p>
            <p>
                <%= locals.company.name %> Ltd offers a wide range of services such as:
                <ul>
                    <li>Interior Decor/Design</li>
                    <li>Wood Work/Funiture making</li>
                    <li>Supply of Building Materials</li>
                </ul>
            </p>
            <p>
                <%= locals.company.name %> can help you source materials on your large and small scale projects. With 
                our strong vendor, distributor and consumer bonds we service a wide range of industries 
                aiming to contiously fullfill our mission statement of effectively and effeciently providing 
                quality products and services to customers within and outside Nigeria.  
            </p>
            <!-- <hr> -->
        </div>
    </div>
</div>

    <div class="statements">
        <div class="row justify-content-center ">
            <div class="col-md-9 col-11">
        <img class="w-100 aboutHeading" src="images/about/statements.png" alt=""> 
    </div></div>
    </div>

    <div class="qualityControl">
        <div class="row justify-content-center ">
            <div class="col-lg-9 col-10 px-0">
                <h1 class="aboutHeading">Quality Control Policy</h1>

                <p class="controlText">
                    The company has a well-articulated team of trained 
                    personnel that carry-out planning and execution of 
                    every job and basic procedures in achieving its 
                    goals and objectives.
                </p>
                
                <p class="controlText">
                    Inherent safety can be enhanced, risk to health 
                    and environmental harzards minimized by using proper 
                    standard procedures and management system 
                    for the our goods and services.
                </p>

                <p class="controlText">
                    A system is in place to ensure that project 
                    management procedures are well understood, well 
                    documented and executed by qualified personnel.
                    A quality control system is also in place to ensure 
                    that our services are in accordance with the 
                    applicable standards. 
                </p>

            </div>
        </div>
    </div>
</section>
</body>
<%- include('footer.ejs') %>
</html>