<!DOCTYPE html>
<html lang="en">
<title> Woodwork/Furniture Design @ <%= locals.company.name %></title>
<%- include('../header.html') %>
<body>
    <section class="interior-design">
        <div class="row justify-content-center aboutHeader ">
            <div class="col-10">
        <img class="w-100 aboutHeading" src="../images/services/woodwork&furniture/1.jpg" alt="">
            </div>
        </div>

        <div class="designtContent">
            <h5 class="serviceHeading">
                Here at <%= locals.company.name %>, we create beautiful custom woodwork and furniture. We specialize in designing and crafting unique pieces that add character and functionality to any space. From handcrafted tables and cabinets to bespoke furniture solutions, our expert artisans bring your vision to life with precision and attention to detail. Discover the timeless beauty of wood, expertly tailored to suit your needs.

            </h5>
        <div class="serviceDisplay">
            <div class="row ">
                <div class="col-7 serviceImg">
                    <img class="d-block w-100 landscapeImg" src="../images/services/woodwork&furniture/2.jpg" alt="interior-design">
                    <p class="serviceText">
                        Elevate your living space with handcrafted home center table that blends elegance and 
                        functionality. At <%= locals.company.name %>, we create timeless pieces that not only serve as a 
                        focal point in your room but also offer quality craftsmanship that lasts for years.
                    </p>
                </div>
                <div class="col-5 serviceImg">
                    <img class="d-block w-100 portraitImg" src="../images/services/woodwork&furniture/3.JPG" alt="furniture-pic">
                    <p class="serviceText">
                        Add a touch of artistry to your walls with custom wood-crafted decorations from <%= locals.company.name %>. 
                        Our unique, expertly designed pieces are the perfect way to bring warmth and 
                        character to any room, turning your walls into a canvas of beauty.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center aboutHeader ">
                <div class="col-10">
                <img class="w-100 bigLandscapeImg" src="../images/services/woodwork&furniture/4.JPG" alt="">
                <p class="text-center serviceText ">
                    Bring style and organization to your outdoor spaces with a custom wood-crafted wardrobe from <%= locals.company.name %>. 
                    Designed for durability and elegance, our wardrobes offer a perfect blend of function and aesthetic appeal, ensuring your outdoor essentials are stored with ease and sophistication.
                </p>
                </div>
            </div>

            <br><h1>THE<br>&nbsp&nbsp PROCESS</h1>
            <h5 class="serviceHeading">
                We pride our self in the due deligence and care we put in the art of woodwork and furniture designing, 
                from the conception of the design style and pattern to the satisfaction we get from the unique finished 
                products. we always try to standout and also give our clients the best designs and styles imagination
                can offer. 
                
            </h5>

            <div class="row justify-content-center">
                <div class="col-4">
                    <video class="d-block w-100 videoPlay" controls controlsList="nodownload">
                        <source src="../images/services/woodwork&furniture/video1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>

                <div class="col-4">
                    <video class="d-block w-100 videoPlay" controls controlsList="nodownload">
                        <source src="../images/services/woodwork&furniture/video2.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>

                <div class="col-4">
                    <video class="d-block w-100 videoPlay" controls controlsList="nodownload">
                        <source src="../images/services/woodwork&furniture/video3.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>
            </div>
        </div>
    </div>

        
    </section>

</body>
<%- include('../footer.ejs') %>
</html>