<!DOCTYPE html>
<html lang="en">
    <title> Interior Decoration/Design @ <%= locals.company.name %></title>
<%- include('../header.html') %>
<body>
    <section class="interior-design">
        <div class="row justify-content-center aboutHeader ">
            <div class="col-10">
        <img class="w-100 aboutHeading" src="../images/services/interior-design/1.jpg" alt="">
            </div>
        </div>

        <div class="designtContent">
            <h5 class="serviceHeading">
                <%= locals.company.name %> specialize in delivering customized interior design solutions that reflect your unique style and needs. Whether you’re redesigning a single room or undertaking a complete home makeover, our team is committed to bringing your vision to life with quality, attention to detail, and a passion for design. Let us help you create a space that feels as good as it looks.

            </h5>
        <div class="serviceDisplay">
            <div class="row ">
                <div class="col-7 serviceImg">
                    <img class="d-block w-100 landscapeImg" src="../images/services/interior-design/2.jpg" alt="interior-design">
                    <p class="serviceText">
                        At <%= locals.company.name %> we help Transform your sitting room into a cozy haven that reflects 
                        your personal style. Whether you're seeking a modern, minimalist look or a more 
                        traditional feel, our collection of furnishings and décor will help you create the 
                        perfect space for relaxation and entertaining.
                    </p>
                </div>
                <div class="col-5 serviceImg">
                    <img class="d-block w-100 portraitImg" src="../images/services/interior-design/3.JPG" alt="furniture-pic">
                    <p class="serviceText">
                        Your office should inspire productivity and creativity. Discover our range of stylish 
                        and functional furniture and accessories designed to enhance your workspace. From 
                        ergonomic chairs to elegant desk setups, we have everything you need to work in 
                        comfort and style.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center aboutHeader ">
                <div class="col-10">
                <img class="w-100 bigLandscapeImg" src="../images/services/interior-design/4.jpg" alt="">
                <p class="text-center serviceText ">
                    The kitchen is the heart of every home. Make yours a place where functionality meets beauty 
                    with our curated selection of high-quality appliances, storage solutions, and décor. Whether 
                    you're cooking a gourmet meal or hosting friends, your kitchen should be as stylish as it is 
                    practical.
                </p>
                </div>
            </div>


            <br><h1>SAMPLE<br>&nbsp&nbsp SNIPPETS</h1>
            <h5 class="serviceHeading">
                Check out some of our sample video snippets, we offer very unique styles tailored to your 
                personal taste whether you’re redesigning a single room or undertaking a complete home makeover, 
                our team is committed to bringing your vision to life with quality, attention to detail, and a 
                passion for design. Let us help you create a space that feels as good as it looks.
            </h5>
            <div class="row justify-content-center">
                <div class="col-4">
                    <video class="d-block w-100 videoPlay" controls controlsList="nodownload">
                        <source src="../images/services/interior-design/video1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>

                <div class="col-4">
                    <video class="d-block w-100 videoPlay" controls controlsList="nodownload">
                        <source src="../images/services/interior-design/video2.MP4" type="video/mp4">
                        public\images\services\interior-design\video2.mp4

                        Your browser does not support the video tag.
                      </video>
                </div>

                <div class="col-4">
                    <video class="d-block w-100 h-100 videoPlay" controls controlsList="nodownload">
                        <source src="../images/services/interior-design/video3.MP4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>
            </div>
        </div>
    </div>

        
    </section>

</body>
<%- include('../footer.ejs') %>
</html>