<!DOCTYPE html>
<html lang="en">
    <title> Material Supply @ <%= locals.company.name %></title>
<%- include('../header.html') %>
<body>
    <section class="interior-design">
        <div class="row justify-content-center aboutHeader ">
            <div class="col-10">
        <img class="w-100 h-100 aboutHeading" src="../images/services/material-supply/1.png" alt="">
            </div>
        </div>

        <div class="designtContent">
            <h5 class="serviceHeading">
                <%= locals.company.name %> is your trusted source for high-quality plywood and panel products. We specialize in providing a wide range of premium plywood, ideal for construction, furniture, and interior design projects. With a focus on durability, versatility, and sustainability, we supply top-grade materials to meet the needs of both professionals and DIY enthusiasts. Let us be your partner in bringing your projects to life with the best plywood solutions available.
            </h5>
        <div class="serviceDisplay">
            <div class="row ">
                <div class="col-7 serviceImg">
                    <img class="d-block w-100 landscapeImg" src="../images/services/material-supply/2.JPG" alt="interior-design">
                    <p class="serviceText">
                        At <%= locals.company.name %>, we provide reliable truck deliveries of high-quality plywoods, 
                        ensuring your project stays on track. With our efficient supply chain and timely 
                        service, you can trust us to deliver exactly what you need, when you need it, in bulk 
                        or tailored quantities.
                    </p>
                </div>
                <div class="col-5 serviceImg">
                    <img class="d-block w-100 portraitImg" src="../images/services/material-supply/3.jpg" alt="furniture-pic">
                    <p class="serviceText">
                        Looking for top-quality plywood for your next DIY project or commercial needs? <%= locals.company.name %> 
                        offers a wide variety of plywood options in our retail store, with different grades and sizes to 
                        suit all your construction, furniture, and crafting requirements. Visit us for reliable products 
                        at competitive prices.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center aboutHeader ">
                <div class="col-10">
                <img class="w-100 bigLandscapeImg" src="../images/services/material-supply/4.jpg" alt="">
                <p class="text-center serviceText ">
                    Ensure your construction project is built on a solid foundation with premium building 
                    materials and supplies from <%= locals.company.name %>. Whether for framing, flooring, or exterior 
                    work, our top-grade materials ranging from steel to rods to woods they’re designed to meet 
                    the demands of any site, delivering durability and performance that contractors trust.
                </p>
                </div>
            </div>

            <br><h1>TRUCKLOAD<br>&nbsp&nbsp&nbsp SUPPLIES</h1>
            <h5 class="serviceHeading">
                We supply top quality building and furnishing materials in bulk within and outside Nigeria, 
                making sure you get top-notch materials within a resonable time frame and at an affordable cost. 
                
            </h5>

            <div class="row justify-content-center">
                <div class="col-4">
                    <video class="d-block w-100 h-100 videoPlay" controls controlsList="nodownload">
                        <source src="../images/services/material-supply/video1.MOV" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>

                <div class="col-4">
                    <video class="d-block w-100 videoPlay" controls controlsList="nodownload">
                        <source src="../images/services/material-supply/video2.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>

                <div class="col-4">
                    <video class="d-block w-100 videoPlay" controls controlsList="nodownload">
                        <source src="../images/services/material-supply/video3.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>
            </div>
            
        </div>
    </div>

        
    </section>

</body>
<%- include('../footer.ejs') %>
</html>