<!DOCTYPE html>
<html lang="en">
    <title> Material Supply @ <%= locals.company.name %></title>
<%- include('../header.html') %>
<body>
    <section class="interior-design">
        <div class="row justify-content-center aboutHeader ">
            <div class="col-12">
        <img class="w-100 aboutHeading customHero" src="../images/services/piping&insulation/4.jpeg" alt="">
            </div>
        </div>

        <div class="designtContent">
            <h5 class="serviceHeading">
               At <%= locals.company.name %>, we deal with all types of HVAC systems both installation and 
               insulation of pipes ranging from chilled water, firefighting, PPR, UPVC and PVC piping, etc. 
               and air duct installation and insulation for fresh air and AHU units. 
            </h5>
        <div class="serviceDisplay">
            <div class="row ">
                <div class="col-7 serviceImg">
                    <img class="d-block w-100 landscapeImg" src="../images/services/piping&insulation/2.jpeg" alt="interior-design">
                    <p class="serviceText">
                        Here At <%= locals.company.name %>, we strive to ensure proper and efficient Chilled water 
                        piping installations in accordance with approved shop drawings with necessary 
                        industry-standard coating and insulation.
                    </p>
                </div>
                <div class="col-5 serviceImg">
                    <img class="d-block w-100 portraitImg" src="../images/services/piping&insulation/1.jpeg" alt="furniture-pic">
                    <p class="serviceText">
                        Copper piping perfectly welded and insulated with armaflex, installed with the required four-way and gate valves.
                    </p>
                </div>
            </div>
            <div class="row justify-content-center aboutHeader ">
                <div class="col-10">
                <img class="w-100 bigLandscapeImg" src="../images/services/piping&insulation/5.jpg" alt="">
                <p class="text-center serviceText ">
                    Hot and cold water piping with PPR pipes from the underground water supply tank. <br>
                    Here At <%= locals.company.name %>, we endeavor to give our clients clean, 
                    well-thought-out piping design and installation that is in line with industry standards 
                    and layouts.
                </p>
                </div>
            </div>

            <br><h1>PIPING<br>&nbsp&nbsp&nbsp INSTALLATIONS</h1>
            <h5 class="serviceHeading">
                We supply and install top-quality pipes, ducts, fittings, hangers and insulation materials 
                required for the timely completion of our projects, giving our clients trusted and guaranteed 
                results. Checkout some sample videos below 
                <i class="fa-solid fa-down-long" ></i>
            </h5>

            <div class="row justify-content-center">
                <div class="col-4">
                    <video class="d-block w-100 h-100 videoPlay" controls controlsList="nodownload">
                        <source src="../images/services/piping&insulation/video1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>

                <div class="col-4">
                    <video class="d-block w-100 h-100 videoPlay" controls controlsList="nodownload">
                        <source src="../images/services/piping&insulation/video2.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>

                <div class="col-4">
                    <video class="d-block w-100 h-100 videoPlay" controls controlsList="nodownload">
                        <source src="../images/services/piping&insulation/video3.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                      </video>
                </div>
            </div>
            
        </div>
    </div>

        
    </section>

</body>
<%- include('../footer.ejs') %>
</html>